body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    background-color: #202020;
    display: flex;
    justify-content: center;
}

.root__container {
    margin-top: 100px;
    color: #FFFFFF;
}

.form_row {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
}

.form_row label {
    margin-bottom: 6px;
    user-select: none;
    font-size: 16px;
}

.form_row input {
    height: 25px;
    width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.form_button {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center
}

.form_button button {
    height: 40px;
    width: 320px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #d7b94c;
    font-size: 16px;
}

.form_button button:hover {
    background-color: #eecb4e;
}

.form_button button:active {
    background-color: #d0ad2a;
}

.form_result {
    display: none;
    margin-top: 25px;
    padding: 10px 10px;
    height: 20px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #202020;
    font-family: Monaco, sans-serif;
}
